body {
  background-color: #f7f6ef;
  box-sizing: border-box;
}

#special {
  width: 500px;
}

h1 {
  float: right;
}

h3 {
  margin-top: 75px;
  width: 40%;
}

div#pizzaSize {
  margin-left: 40px;
}

label#type {
  margin: 10px;
}

select#type, select#size {
  margin: 10px;
}

input[type=checkbox] {
  margin: 10px 10px 0 0;
}

#pizza-pencil {
  text-align: left;
  padding: 50px;
}

div#results {
  display: none;
}

.form-horizontal, .btn {
  margin-bottom: 30px;
}

img {
  opacity: .4;
  margin-top: -150px;
  float: right;
  transform: scale(1.6);
}
